.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  color: white;
  text-align: center;
}

nav {
  background-color: rgb(50, 116, 116);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  animation-duration: 1s;
  animation-name: darken;
  animation-fill-mode: forwards;
}

@keyframes darken {
  from {
    color: white;
  }

  to {
    color: black;
  }
}