.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5em;
}

.BodyContainer {
  display: flex;
  justify-content: center;
  background-color: #c8e0d2;
  min-height: 80vh;
}

.App-footer {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 10vh;
  display: flex;
  align-items: center;
}

.FooterInfo {
  padding: 2%;
  font-size: 0.7em;
}

.App-link {
  color: #61dafb;
}
